* {
  box-sizing: border-box;
}

body {
  font-family: Arial,Helvetica,sans-serif;
  margin: 0;
  padding: 0;

}

header {
  background-color: #1373e0;
  padding: 10px;
  text-align: center;
}

/* Style the topnav */
ul.topnav {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #e087f8;
}

/* Style links in topnav */
ul.topnav li a {
  display: block;
  color: #f1f1f1;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
ul.topnav li a:hover {
  background-color: #206df1;
  color: black;
}

div.flex-container {
  display: flex;
  flex-direction: row;
  color: #20f166;
}

div.flex-container > div {
  margin: 8px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f47cf0;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: rgb(241, 128, 245);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}


footer{
  background-color: #222;
  color: #cccccc;
  text-align: center;
  padding: 5px 0;
  font-size: 0.9rem;
}
 


/* Use media query and show the flex items vertically if screen width is less than 600px */
@media screen and (max-width:600px) {
  div.flex-container {
    flex-direction: column;
  }
}

 